describe("Autocompleter", function() {
  before(function() {
    $("body").html("<p class='edit_in_place'>Edit</p>");
  });
  
  it("starts out as an p.edit_in_place", function() {
    expect($("p.edit_in_place")).to(exist);
  });
  
  describe("when clicked", function() {
    before(function() {
      $("p.edit_in_place").fireEvent("click");
    })
    
    it("is hidden", function() {
      expect($("p.edit_in_place")).to_not(be_visible);
    });
    
    it("shows an input", function() {
      expect($("body")).to(have, "input:text")
    })
  });
})